<!DOCTYPE html>
<html lang="en">

<head>
	{% load cachebreaker %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 20 Feb 2012 00:00:01 GMT">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="/static/img/favicon.ico" />

	<link href="{% break_cache '/static/css/app.css' %}" rel="stylesheet">


	<link href="{% break_cache '/static/css/loading_screen.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/398fba641d.js" crossorigin="anonymous"></script>

	<!-- jquery -->
	<script src="/static/jquery/jquery-3.7.1.min.js"></script>
	<script src="/static/jscookie/js.cookie.min.js "></script>

	<!-- bootstrap -->
	<link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script src="/static/bootstrap/bootstrap.bundle.min.js"></script>


	<link href="{% break_cache '/static/components/table/table.css' %}" rel="stylesheet">
	<link href="{% break_cache '/static/components/forms/forms.css' %}" rel="stylesheet">
	<script type="application/javascript" src="{% break_cache '/static/components/table/table.js' %}"></script>
	<script type="application/javascript" src="{% break_cache '/static/components/forms/form.js' %}"></script>
	<link href="{% break_cache '/static/components/scheduler/scheduler.css' %}" rel="stylesheet">
	<script type="application/javascript" src="{% break_cache '/static/components/scheduler/scheduler.js' %}"></script>
	<script type="application/javascript" src="{% break_cache '/static/js/helpers.js' %}"></script>
    {% load static %}


    <title>{% block small_title %}{% endblock %}</title>

</head>

<body>

		<div class="wrapper">

			<nav id="sidebar" class="sidebar js-sidebar">
				<div class="sidebar-content js-simplebar">
					<a class="sidebar-brand" href="{% url 'index' %}">
						<img src="/static/img/logo_small.png" class="img-fluid" style="width: 50%; margin-left: 25%;">

        			</a>

					<ul class="sidebar-nav">
					<li class="sidebar-header" id="sidebar_title_planning"></li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'schedule' %}">
              					<i class="fa-regular fa-calendar-days"></i><span class="align-middle" id="sidebar_title_schedule"></span>
           					</a>
						</li>
					<li class="sidebar-header" id="sidebar_title_operations"></li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'projects' %}">
              					<i class="fa-solid fa-bars-progress"></i><span class="align-middle" id="sidebar_title_projects"></span>
           					</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'tasks' %}">
              					<i class="fa-solid fa-list-check"></i> <span class="align-middle" id="sidebar_title_tasks"></span>
           					</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'sales' %}">
              					<i class="fa-solid fa-cash-register"></i> <span class="align-middle" id="sidebar_title_sales"></span>
           					</a>
						</li>
						<li class="sidebar-header" id="sidebar_title_master_data"></li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'companies' %}">
              					<i class="fa-solid fa-industry"></i> <span class="align-middle" id="sidebar_title_companies"></span>
            				</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'employees' %}">
								<i class="fa-solid fa-person"></i> <span class="align-middle" id="sidebar_title_employees"></span>
            				</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'assets' %}">
              					<i class="fa-solid fa-truck-plane"></i><span class="align-middle" id="sidebar_title_assets"></span>
            				</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" href="{% url 'task-templates' %}">
              					<i class="fa-solid fa-folder-open"></i><span class="align-middle" id="sidebar_title_task_templates"></span>
            				</a>
						</li>

					<li class="sidebar-header" id="sidebar_title_finances"></li>

						<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'billing' %}">
              				<i class="fa-solid fa-coins"></i><span class="align-middle" id="sidebar_title_billing"></span>
            			</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'receivables' %}">
             				<i class="fa-solid fa-receipt"></i><span class="align-middle" id="sidebar_title_invoices"></span>
            			</a>
					</li>
						<li class="sidebar-item">
						<a class="sidebar-link" href="{% url 'payables' %}">
             				<i class="fa-regular fa-credit-card"></i><span class="align-middle" id="sidebar_title_payables"></span>
            			</a>
					</li>



				</ul>

			</div>
		</nav>











			<div class="main">
				<nav class="navbar navbar-expand navbar-light navbar-bg">
					<a class="sidebar-toggle js-sidebar-toggle">
         				<i class="hamburger align-self-center"></i>
        			</a>

					<div class="navbar-collapse collapse">
						<ul class="navbar-nav navbar-align">
							<li class="nav-item dropdown">
								<select id="language_selector" name="countries" style="height:100%; background:transparent; border:None;">
									<option value="ch">🇨🇭</option>
									<option value="en">🇬🇧</option>

								</select>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<img id="user_image" src="/static/img/empty_avatar.png" class="avatar img-fluid rounded me-1"/>
				  				</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
									<a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
								</div>
							</li>
					</ul>
				</div>
			</nav>
			<main class="content" style="padding:1.5vh 1vw 1vh">
				<div class="container-fluid p-0">

					{% block content %}
					{% endblock %}

				</div>
				<div id="loading_screen_wrapper">
					<div id="loading_screen">
						<img id="spinner" src="/static/img/loading.gif" class="img-fluid">
					</div>
				</div>

			</main>



		</div>

</div>


<script type="text/javascript" src="{{page_config.js}}"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>