{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}
         <div class="content-wrap">
             <div class="card" style="height:100%;">
                <div class="card-body" style="height:90%;">
                    <h1 id="error_title">Error 403</h1>
                    <p id="error_message">
                        error
                    </p>
                </div>
            <div class="card-footer" style="height:5%;">
                <button type="button" id="btn_save_profile" class="btn btn-danger">Save</button>
            </div>
      </div>

         </div>
{% endblock %}