{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}


				<h1 class="h3 mb-3" id="page_title"></h1>


                <div class="card" style="height:80vh;">

                    <div class="card-body" style="height:93%;">
                        <div class="row" style="height: 100%;">
                            <div class="col-3" style="height:100%;">
                                <div class="card-header" style="height:7%">
                                         Invoice
                                     </div>
                                <div class="card-body" style="height:93%">
                                    <div id="form_container" style="height:95%"></div>
                                </div>
						    </div>
                            <div class="col-9" style="height:100%;">
                                 <div class="row" style="height:100%;">
                                     <div class="card-header" style="height:7%">
                                         Positions
                                     </div>
                                     <div class="card-body" style="height:85%">
                                        <div id="billing_table_container" style="height:100%;"></div>
                                     </div>
                                 </div>
						    </div>
                        </div>
                    </div>

                <div class="card-footer" style="height:7%;">
                            <button type="button" id="btn_reset" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i></button>
                            <button type="button" id="btn_add" class="btn btn-danger"><i class="fa-regular fa-floppy-disk"></i></button>

                        </div>


                </div>

                <div class="modal fade" id="nextStepModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body">
                        Die Rechnung wurde erstellt.
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Weiter verrechnen</button>
                          <a href="/receivables"><button type="button" class="btn btn-primary">Zur Rechnung</button></a>
                      </div>
                    </div>
                  </div>
                </div>






{% endblock %}