{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}
         <div class="content-wrap">
            <div class="modal-dialog modal-dialog-centered" role="document" id="div_modal_login">

                <div class="modal-content" id="modal-login">
                    <img id="id_login_logo" style="width: 50%; margin:auto;"src="/static/img/logo_small.png">
                    <form class="form_login" id="id_form_login" method="post" action="">
                        <div class="modal-body" id="body_modal_login">

                            {% csrf_token %}

                            <div class="form-group">
                                <label id="user_input_label" for="user_input"></label>
                                <input type="text" class="form-control" name = "username"id="user_input" aria-describedby="emailHelp" placeholder="Username">
                              </div>
                              <div class="form-group">
                                <label id="password_input_label"for="password_input">Password</label>
                                <input type="password" name="password" class="form-control" id="password_input" placeholder="Password">
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" name="btn_login" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
         </div>
{% endblock %}