{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}


				<h1 class="h3 mb-3">{{page_config.title.de}}</h1>

				<div class="row">
                    <div class="col-3">
							<div class="card">

								<div class="card-body">
									<div class="card-header">
									      {% csrf_token %}
                                              <form>
												  {% for key, value in page_config.fields.items %}
												  <div class="form-group">
													<label>{{value.de}}</label>
													{{value.input  | safe }}
												  </div>


												  {% endfor %}


												</form>
									</div>
								</div>
							</div>
						</div>
                    <div class="col-9">
							<div class="card">
								<div class="card-header">
								</div>
								<div class="card-body">
									<div id="overview-table"></div>
								</div>
							</div>
						</div>
                </div>


		<script>

			var table = new Tabulator("#overview-table", {

				layout:"fitColumns",      //fit columns to width of table
				ajaxURL:"/api/{{page_config.url}}",
				responsiveLayout:"hide",  //hide columns that don't fit on the table
				initialSort:[             //set the initial sort order of the data
					{column:"{{page_config.pk}}", dir:"desc"},
				],
				columnDefaults:{
					tooltip:true,         //show tool tips on cells
				},
				columns:[                 //define the table columns

				{% for key, value in page_config.fields.items %}
					{title:"{{value.de}}", field:"{{key}}"},
				{% endfor %}

				{title:"Actions", formatter:"link", formatterParams:{
					label:"edit",

					url:function(cell){return window.location.href + "/" + cell.getData().{{page_config.pk}}}
				}}

				],
			});

		</script>



{% endblock %}