{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}

<div class="row" style="height: 80vh;">
  <div class="col-3" style="height:100%;">
    <ul class="nav nav-tabs flex-column">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#profile">Profile</a>
      </li>

      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#company">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#doc_config">Document Config</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#form_recoginizer">Microsoft Form Recoginizer</a>
      </li>
        {% endif %}
    </ul>
  </div>
  <div class="col-9">
    <div class="tab-content" style="height:100%">
      <div class="tab-pane container fade active show" style="max-width: 100%; height: 100%;" id="profile">
      <div class="card" style="height: 90%;">
        <div class="card-header" style="height:5%;">Profile</div>
        <div class="card-body" style="max-height:88%; overflow: scroll;">
            <div id="profile_form_container"></div>
        </div>
        <div class="card-footer" style="height:7%;">
            <button type="button" id="btn_save_profile" class="btn btn-danger">Save</button>
        </div>
      </div>
    </div>
      {% if user.is_superuser %}
      <div class="tab-pane container fade" style="max-width: 100%; height: 100%;" id="company">
      <div class="card" style="max-height:85%;">
        <div class="card-header" style="height:5%;">Company</div>
        <div class="card-body" style="height:88%; overflow: scroll;">
            <div id="company_form_container"></div>
        </div>
        <div class="card-footer" style="height:7%;">
            <button type="button" id="btn_save_company" class="btn btn-danger">Save</button>
        </div>
      </div>
    </div>
        <div class="tab-pane container fade " style="max-width: 100%; min-width: 100%;height: 100%;" id="doc_config">
      <div class="card" style="height:80vh; width:100%;">
        <div class="card-header" style="height:5%;">Document Config</div>
        <div class="card-body" style="height:90%; width: 100%; overflow:scroll;">
                <div id="doc_config_form_container"></div>
              <hr>

              <div id="document_header_preview" style="position:relative; max-width:100%; margin:auto;"></div>
        </div>
        <div class="card-footer" style="height:5%;">
            <button type="button" id="btn_save_doc" class="btn btn-danger">Save</button>
        </div>
      </div>
    </div>
        <div class="tab-pane container fade" style="max-width: 100%; height:100%;" id="form_recoginizer">
      <div class="card" style="height:100%;">
        <div class="card-header" style="height:5%;">
          Form Recognizer
        </div>
        <div class="card-body" style="height:90%;">
            <div class="form-group form-check">
                <label for="ms_form_rec_endpoint">Form Recognizer Endpoint</label>
                <input type="url"  class="form-control" id="ms_form_rec_endpoint" >
            </div>
            <div class="form-group form-check">
                <label for="ms_form_rec_key">Form Recognizer Key</label>
                <input type="password"  class="form-control" id="ms_form_rec_key" >
            </div>
        </div>
        <div class="card-footer" style="height:5%;">
            <button type="button" id="btn_save_rec" class="btn btn-danger">Save</button>
        </div>
      </div>
    </div>
      {% endif %}
  </div>
  </div>

</div>

{% endblock %}