{% extends 'frontend/base.html' %}

{% block title%}{{page_config.title}}{% endblock %}

{% block content %}


				<h1 class="h3 mb-3" id="page_title"></h1>

				<div class="row" style="height: 85vh;">
                    <div class="col-2" style="height:100%;">
							<div class="card" style="height:100%;">

								<div class="card-body" style="height:93%;">
									<div id="form_filter_container" style="height:100%"></div>

								</div>
								<div class="card-footer" style="height:7%;">
									<button type="button" id="btn_reset" class="btn btn-secondary"><i class="fa-solid fa-rotate-left"></i></button>
									<button type="button" id="btn_filter" class="btn btn-danger"><i class="fa-solid fa-filter"></i></button>

								</div>

							</div>
						</div>
                    <div class="col-10" style="height:100%;">
							<div class="card" style="height:100%;">
								<div class="card-header" style="height:7%">
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#create_modal" id="btn_create"><i class="fa-solid fa-plus"></i></button>
								</div>
								<div class="card-body" style="height:93%">
									<div id="overview-table" style="height:100%;"></div>
								</div>
							</div>
						</div>
                </div>

		<div class="modal fade" id="create_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="modal_add_title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <div id="create_form_container">
							      {% csrf_token %}<!--
                                              <form id="add_form">
												  {% for value in page_config.fields.form %}
												  <div class="form-group">

													{{value.input | safe}}
												  </div>


												  {% endfor %}


												</form>-->
					  </div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_quit_create"><i class="fa-solid fa-xmark"></i></button>
				<button type="button" id="btn_add" class="btn btn-danger"><i class="fa-regular fa-floppy-disk"></i></button>
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal fade" id="update_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="modal_update_title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <div id="update_form_container">
							      {% csrf_token %}<!--
                                              <form id="add_form">
												  {% for value in page_config.fields.form %}
												  <div class="form-group">

													{{value.input | safe}}
												  </div>


												  {% endfor %}


												</form>-->
					  </div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_quit_update"><i class="fa-solid fa-xmark"></i></button>
				  <button type="button" id="btn_delete" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
				  <button type="button" id="btn_print" class="btn btn-danger"><i class="fa-solid fa-print"></i></button>
				  <button type="button" id="btn_close_task" class="btn btn-danger"><i class="fa-regular fa-square-check"></i></button>
				<button type="button" id="btn_save" class="btn btn-danger"><i class="fa-regular fa-floppy-disk"></i></button>
				  <button type="button" id="btn_open_send" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#send_modal"><i class="fa-regular fa-envelope"></i></button>
			  </div>
			</div>
		  </div>
		</div>
		<div class="modal fade" id="send_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="send_modal_title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				  <div id="send_form_container">

				  </div>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_quit_send"><i class="fa-solid fa-xmark"></i></button>
				  <button type="button" id="btn_send" class="btn btn-danger"><i class="fa-regular fa-paper-plane"></i></button>
			  </div>
			</div>
		  </div>
		</div>






{% endblock %}