



#scheduler_container {
    overflow:scroll;

    border-right: 0.1px solid;
    border-left: 0.1px solid;
    border-bottom: 0.1px solid;
    border-top: 0.1px solid;
    border-color: lightgray;

}

#date_input_section, #employee_type_filter{
    display:flex;
    align-items: flex-end;
    width: auto;
    margin-bottom: 10px;
}

#employee_type_filter_dropdown {
    top:85px;
    padding-left: 15px;
}

#employee_type_dropdown_button {
    height: 30px;
}
#schedule_table {

  border-spacing: 0;
  border-collapse: separate;
  margin-bottom: 0px !important;
  height:100%;

}

#schedule_table thead {
    background: white;
    border-color: lightgray;
    height:10%;
      position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;

}


#schedule_table  tbody {
    height: 80%

}
#schedule_table  tfoot {
    height: 10%

}

#scheduler_title_row {
    height:20px;
}




thead th{
    border:None;
}

.scheduler_time_titles{
    text-align: right;
}

#scheduler_spacer_row {
    height: 5px !important;

}
#scheduler_spacer_row th {
    border-bottom: 1px solid;


}
.scheduler_time_ticks {
    border-right:1px solid

}

#schedule_table td,
#schedule_table th {
    padding: 0px;
    min-width: 96px;
    padding-left: 15px;

}

#schedule_table tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 20;
  min-width: 5vw;
  max-width: 5vw;
  background-color:#efefef;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#schedule_table tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  min-width: 5vw;
  max-width: 5vw;
  background-color:#efefef;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}
#schedule_table thead tr th:nth-child(2) {
  position: sticky;
  z-index: 1;
  min-width: 10vw;
  max-width: 20vw;
  left: 5vw;
  background-color:#efefef;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}
#schedule_table tr td:nth-child(2) {
  position: sticky;
  z-index: 1;
  left: 5vw;
  min-width: 10vw;
  max-width: 20vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color:#efefef;
}

#schedule_table tbody ul {
    /*min-height: 100%;*/
}

/*
#schedule_table tfoot {
  position: sticky;
  z-index: 999;
  bottom: 0vw;
 height: 20%;


}

*/

#schedule_table tbody tr {
    height: 50px;

}



.task_lane {
    background: linear-gradient(to right, transparent 95px, lightgray 1px),linear-gradient(to right, transparent 23px, #e5e5e5 0.1px, transparent 24.2px, transparent 47px, #e5e5e5 0.1px, transparent 48.2px, transparent 71px, #e5e5e5 0.1px, transparent 72.2px);
    background-size: 96px;
    padding-left: 0px !important;


}

#task_lane_o {
    background:white;

}
.scheduled_task {
    display: block;
    background: #588157;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 40px;


}
.open_task {
    display: block;
    background: #6c757d;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 40px;


}
.asset {
    background:#17a2b8;
    line-height: 40px;
    margin: 2px;
}


